@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
html {
    box-sizing: border-box;
    font-size: 100%;
}


body {
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

#main{
    padding: 40px;
    margin-top: 30px;
    height: 350px; 
    width: 700px;
    background-color:#FEA600;
    margin: 30px auto;
    color: aliceblue;
    text-align: center;
}
div#title {
    font-size: 40px;
    margin-bottom: 25px;
}
#sub-title p {
    font-size: 40px;
}
p#time {
    font-size: 45px;
    margin-top: 15px;
}
input.my-btn {
    padding: 13px 50px;
    margin: 25px 15px;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid #fff;
    background-color: #ffdead54;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
input.my-btn:hover {
    background-color: #fff;
    color: #FEA600;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
span.timer {
    font-size: 40px;
}

